body {
	margin: 0;
}

/* START CAROUSEL */
.carousel {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	/* background-color: #ddd; */
	background-image: url("../img/jar-sun.jpg");
	background-position: center center;
	background-size: cover;
	height: 35em; /* Change to pixels because image height resizing */
	transition: all .2s ease;
	-webkit-animation: fade 4s infinite;
	-moz-animation: fade 4s infinite;
	-o-animation: fade 4s infinite;
	animation: fade 4s infinite;
}

.carousel__text {
	font-weight: 500;
	font-size: 5em;
	color: white;
	text-align: center;
	align-self: center;
}

@media (max-width: 411px) {
	.carousel__text {
		font-size: 3em;
	}
}

.carousel__left-arrow {
	justify-self: start;
	align-self: center;
	padding: 1em;
}

.carousel__left-arrow > img {
	width: 2em;
	opacity: 40%;
	cursor: pointer;
}

.carousel__left-arrow > img:hover {
	opacity: 75%;
}

.carousel__right-arrow {
	justify-self: end;
	align-self: center;
	padding: 1em;
}

.carousel__right-arrow > img {
	width: 2em;
	opacity: 40%;
	cursor: pointer;
}

.carousel__right-arrow > img:hover {
	opacity: 75%;
}
/* END CAROUSEL */

.top-products {
	margin-top: 6em;
	width: 100%;
}

h1 {
	font-weight: 100;
	font-size: 5em;
	letter-spacing: 7px;
	text-align: center;
}

/* .top-products__three-celebs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 1em;
	justify-content: center;
	column-gap: 2em;
	margin: 1em;

	background-position: center center;
	background-size: cover;
} */

.top-products__three-celebs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	column-gap: 5%;

	width: 80%;
	height: 500px;
	margin: auto;

	background-position: center center;
	background-size: cover;
}

@media (max-width: 1024px) {
	.top-products__three-celebs {
		width: 95%;
	}
}

@media (max-width: 768px) {
	.top-products__three-celebs {

	grid-template-columns: repeat(1, 1fr);
	height: 1500px;
	column-gap: 2%;
	row-gap: 5%;
	}
}

@media (max-width: 411px) {
	.top-products__three-celebs {

	grid-template-columns: repeat(1, 1fr);
	height: 1500px;
	column-gap: 2%;
	row-gap: 5%;
	}
}

.top-products__three-celebs > div {
	width: 100%;
	height: 100%;
	background-color: #ccc;

	display: grid;
	grid-template-columns: 1fr;
	align-content: flex-end;
	background-position: center center;
	background-size: cover;

	box-shadow:
		0 2px 2px 0 rgba(0,0,0,.14),
		0 3px 1px -2px rgba(0,0,0,.2),
		0 1px 5px 0 rgba(0,0,0,.12);
	transition: box-shadow 0.3s ease;
	border-radius: 2px;

	cursor: pointer;
}

.top-products__three-celebs > div:hover {
	box-shadow:
		0 2px 2px 0 rgba(0,0,0,.14),
		0 5px 10px 0px rgba(0,0,0,.5),
		0 1px 5px 0 rgba(0,0,0,.12);
}

.top-products .name {
	font-size: 2em;
	color: white;
	/* text-shadow:
		-1px -1px 0 rgba(0, 0, 0, 0.3),
		1px -1px 0 rgba(0, 0, 0, 0.3),
		-1px 1px 0 rgba(0, 0, 0, 0.3),
		1px 1px 0 rgba(0, 0, 0, 0.3); */
	letter-spacing: 3px;
	margin-left: 3px;
	margin-bottom: 5px;
	opacity: 0;
	transition: opacity .20s ease-in-out;
}

.top-products__three-celebs > div:hover > .name {
	opacity: 1;
}

.category-h1 {
	margin-top: 2em;
}

.category-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;

	margin:auto;
	margin-top: 5em;
	width: 70%;
}

@media (max-width: 768px) {
	.category-container {
		width: 90%;
	}
}

@media (max-width: 411px) {
	.category-container {
		width: 90%;
	}
}

.category {
	font-size: 1.2em;
}

.category__img {
	border-radius: 50%;
	width: 10em;
	height: 10em;

	margin-bottom: 1em;

	background-color: #ddd;
	cursor: pointer;

	background-position: center center;
	background-size: cover;
}

@media (max-width: 768px) {
	.category-h1 {
		font-size: 6em;
	}
	.category__img {
		width: 10em;
		height: 10em;
	}
}

@media (max-width: 414px) {
	.category-h1 {
		font-size: 4em;
	}
	.category__img {
		width: 5em;
		height: 5em;
	}
}

#y-cat {
	background-image: url('https://www.sfcg.org/wp-content/uploads/2016/11/youtube-flat.png');
}

#k-cat {
	background-image: url('https://resources.finalsite.net/images/f_auto,q_auto,t_image_size_1/v1555675108/notredamehscom/nl5pebdr4vf4h9o78ol9/KoreanFlag.png');
}

#p-cat {
	background-image: url('https://b.thumbs.redditmedia.com/oonqiPCgKWN3i4lnIlpnKY0qw41CKYs3rYezMxw1AOQ.png');
}

.category__name {
	text-align: center;
}

.category-preview-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	justify-content: center;

	margin-top: 4em;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5em;


	font-size: 1.7em;
}

@media (max-width: 1024px) {
	.category-preview-container {
		grid-template-columns: repeat(2, 1fr);
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media (max-width: 768px) {
	.category-preview-container {
		grid-template-columns: repeat(2, 1fr);
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media (max-width: 411px) {
	.category-preview-container {
		grid-template-columns: repeat(1, 1fr);
		margin-left: 5%;
		margin-right: 5%;
	}
}

.category-preview-container .preview {
	display: flex;
	justify-content: start;
	align-items: flex-end;
	padding-bottom: 3px;
	padding-left: .5em;
	color: white;
	background-color: #ddd;
	height: 450px;
	border-radius: 3px;

	background-position: center center;
	background-size: cover;

	box-shadow:
	0 2px 2px 0 rgba(0,0,0,.14),
	0 3px 1px -2px rgba(0,0,0,.2),
	0 1px 5px 0 rgba(0,0,0,.12);

	transition: box-shadow 0.3s ease;

	cursor: pointer;
}

.category-preview-container .preview:hover {
	box-shadow:
		0 2px 2px 0 rgba(0,0,0,.14),
		0 5px 10px 0px rgba(0,0,0,.5),
		0 1px 5px 0 rgba(0,0,0,.12);
}