body {
	margin: 0;
	background-color: #f6f6f6;
}

select {
	font-size: 16pt;
}

.products-container {
	width: 90%;
	margin: auto;
	margin-top: 3em;

	background: #fff;
	border: 1px gray solid;
	border-radius: 3px;

	margin-bottom: 20%;
}

.products-container > .sorting {
	display: grid;
	padding: 2em;
	grid-template-columns: 15% 15%;
	gap: 1em;
	border-bottom: 1px gray solid;
}

@media (max-width: 1024px) {
	.products-container > .sorting {
		grid-template-columns: 30% 30%;
	}
}

@media (max-width: 411px) {
	.products-container > .sorting {
		grid-template-columns: 70%;
		justify-content: center;
	}
}

.products-container > .products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	gap: 1em;

	width: 90%;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

@media (max-width: 768px) {
	.products-container > .products {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 411px) {
	.products-container > .products {
		grid-template-columns: repeat(1, 1fr);
	}
}

.products .product-box {
	display: flex;
	justify-content: start;
	align-items: flex-end;

	padding-bottom: 3px;
	padding-left: .5em;
	color: rgba(0, 0, 0, 0);
	font-size: 20pt;
	background-color: #ddd;
	height: 450px;
	border-radius: 3px;

	background-position: center center;
	background-size: cover;

	box-shadow:
	0 2px 2px 0 rgba(0,0,0,.14),
	0 3px 1px -2px rgba(0,0,0,.2),
	0 1px 5px 0 rgba(0,0,0,.12);

	transition: box-shadow 0.1s ease, color 0.2s ease;

	cursor: pointer;
}

.products .product-box:hover {
	color: rgba(255, 255, 255, 1);
	box-shadow:
		0 2px 2px 0 rgba(0,0,0,.14),
		0 5px 10px 0px rgba(0,0,0,.5),
		0 1px 5px 0 rgba(0,0,0,.12);
}

.products-container > .load-more {
	font-size: 18pt;
	margin: auto;
	margin-bottom: 2em;
	width: 10em;
	height: 3em;
	line-height: 3em;
	text-align: center;

	border-radius: 5px;
	color: white;
	background-color: rgb(37, 121, 201);

	cursor: pointer;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}


.products-container > .load-more:hover {
	background-color: rgb(50, 130, 206);
}